---
# Add mymachine to /etc/hosts targeting your IP!
version: '3'

services:
  # zoonavigator is not required, but may help analyzing zookeeper
  zoonavigator:
    image: elkozmon/zoonavigator:latest
    ports:
      - "29000:9000"

  # See also: https://hub.docker.com/r/bitnami/zookeeper
  zookeeper-1:
    image: bitnami/zookeeper:latest
    expose:
      - '2181'
      - '2888'
      - '3888'
    ports:
      - "22181:2181"
    environment:
      ZOO_SERVER_ID: 1
      ZOO_SERVERS: "0.0.0.0:2888:3888,zookeeper-2:2888:3888,zookeeper-3:2888:3888"
      ALLOW_ANONYMOUS_LOGIN: 'yes'

  zookeeper-2:
    image: bitnami/zookeeper:latest
    expose:
      - '2181'
      - '2888'
      - '3888'
    ports:
      - "32181:2181"
    environment:
      ZOO_SERVER_ID: 2
      ZOO_SERVERS: "zookeeper-1:2888:3888,0.0.0.0:2888:3888,zookeeper-3:2888:3888"
      ALLOW_ANONYMOUS_LOGIN: 'yes'

  zookeeper-3:
    image: bitnami/zookeeper:latest
    expose:
      - '2181'
      - '2888'
      - '3888'
    ports:
      - "42181:2181"
    environment:
      ZOO_SERVER_ID: 3
      ZOO_SERVERS: "zookeeper-1:2888:3888,zookeeper-2:2888:3888,0.0.0.0:2888:3888"
      ALLOW_ANONYMOUS_LOGIN: 'yes'

  kafka-1:
    # See also: https://hub.docker.com/r/bitnami/kafka
    image: bitnami/kafka:latest
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181
      KAFKA_CFG_LISTENERS: INTERNAL://:9092,EXTERNAL://:29092
      KAFKA_CFG_ADVERTISED_LISTENERS: INTERNAL://kafka-1:9092,EXTERNAL://mymachine:29092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CFG_NUM_PARTITIONS: 9
      KAFKA_CFG_DEFAULT_REPLICATION_FACTOR: 3
      ALLOW_PLAINTEXT_LISTENER: 'yes'

  kafka-2:
    image: bitnami/kafka:latest
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    ports:
      - "39092:39092"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181
      KAFKA_CFG_LISTENERS: INTERNAL://:9092,EXTERNAL://:39092
      KAFKA_CFG_ADVERTISED_LISTENERS: INTERNAL://kafka-2:9092,EXTERNAL://mymachine:39092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CFG_NUM_PARTITIONS: 9
      KAFKA_CFG_DEFAULT_REPLICATION_FACTOR: 3
      ALLOW_PLAINTEXT_LISTENER: 'yes'

  kafka-3:
    image: bitnami/kafka:latest
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    ports:
      - "49092:49092"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181
      KAFKA_CFG_LISTENERS: INTERNAL://:9092,EXTERNAL://:49092
      KAFKA_CFG_ADVERTISED_LISTENERS: INTERNAL://kafka-3:9092,EXTERNAL://mymachine:49092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CFG_NUM_PARTITIONS: 9
      KAFKA_CFG_DEFAULT_REPLICATION_FACTOR: 3
      ALLOW_PLAINTEXT_LISTENER: 'yes'

#
#  consumer-1:
#    image: kafka-consumer:latest
#    depends_on:
#      - kafka-1
#      - kafka-2
#      - kafka-3
#    environment:
#      KAFKA_CONSUMER_ID: consumer-1
#      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
#      KAFKA_NUM_PARTITIONS: 15
#      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
#
#  consumer-2:
#    image: kafka-consumer:latest
#    depends_on:
#      - kafka-1
#      - kafka-2
#      - kafka-3
#    environment:
#      KAFKA_CONSUMER_ID: consumer-2
#      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
#      KAFKA_NUM_PARTITIONS: 15
#      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
#
#  consumer-3:
#    image: kafka-consumer:latest
#    depends_on:
#      - kafka-1
#      - kafka-2
#      - kafka-3
#    environment:
#      KAFKA_CONSUMER_ID: consumer-3
#      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
#      KAFKA_NUM_PARTITIONS: 15
#      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
#
#  producer-1:
#    image: kafka-producer:latest
#    depends_on:
#      - kafka-1
#      - kafka-2
#      - kafka-3
#    environment:
#      KAFKA_PRODUCER_ID: producer-1
#      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
#
#  producer-2:
#    image: kafka-producer:latest
#    depends_on:
#      - kafka-1
#      - kafka-2
#      - kafka-3
#    environment:
#      KAFKA_PRODUCER_ID: producer-2
#      KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
